# Use Bzlmod (`MODULE.bazel`) instead of `WORKSPACE.bazel`.
common --enable_bzlmod
common --noenable_workspace

# Use C++17 (required for recent gRPC versions).
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
