# Use `WORKSPACE.bazel` instead of bzlmod (`MODULE.bazel`).
common --enable_workspace
common --noenable_bzlmod

# Use C++17 (required for recent gRPC versions).
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
