name: "Rust build"

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v5
    - run: cd rust && cargo build
    - run: cd rust && cargo test
